<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DB_USER" value=""/>
    <add key="DB_IP" value=""/>
    <add key="DB_PASSWORD" value=""/>
    <add key="DB_NAME" value=""/>

  </appSettings>
</configuration>